@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    color: white;
    a{
        text-decoration: none;
    }
    // border: 2px solid white;
}

body {
    width: 100vw;
    // height: 100vh;
    background-image: url(./images/footer_lodyas.png);
    background-size: contain;
    // overflow: hidden;
}

.navbar_container{
    // border: 2px solid white;
    // margin-top: .5em;
    display: flex;

    justify-content: space-between;
    .ham{
        // border: 2px solid white;
        width: max-content;
        height: min-content;
        margin: 1em;
        img{
            width: 6vw;
        }
    }
    .logo {
        margin: 1.2em;
        font-size: 13px;
    }

    span {
        // border: 1px solid white;
        vertical-align: 25px;
        font-size: 9px;
        // margin-bottom: 5em;
    }

    .nav_menu {
        display: none;
    }

    nav.menu-btn {
        display: block;
    }

    .nav_menu {

        position: fixed;
        z-index: 999;
        // width: 100%;
        left: 0;
        top: 0;
        height: 100vh;
        // padding: 1em;
        // background-color: black;
        width: 100vw;
        // height: 100vh;
        background-image: url(./images/footer_lodyas.png);
        background-size: contain;
        // background-color: #000000;
        // border: 2px solid white;
        border-radius: 0 10px;

        .nav_head{
            display: flex;
            justify-content: space-between;
            // border: 1px solid white;
            .logo {
                margin: 1.2em;
                font-size: 13px;
            }
        
            span {
                // border: 1px solid white;
                vertical-align: 25px;
                font-size: 9px;
                // margin-bottom: 5em;
            }
    
            .menu_exit {
                // margin-left: -20em;
                // width: 1vw;
                // border: 1px solid white;
                // float: right;
                margin: 1em;
    
                img {
                    width: 8vw;
                }
            }
        }


        .nav_con {
            // position: absolute;
            // top: 25%;
            // left: 25%;
            display: flex;
            margin-top: 4em;
            justify-content: center;
        
            ul {
                position: relative;
                display: flex;
                flex-direction: column;
            }
        
            ul li {
                list-style: none;
            }
        
            ul li:before {
                content: attr(data-text);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: #fff;
                font-size: 6em;
                font-weight: none;
                opacity: 0;
                letter-spacing: 20px;
                transition: 0.5s;
                white-space: nowrap;
            }
        
            ul li:hover:before {
                opacity: 0.2;
                letter-spacing: 0px;
            }
        
            ul li a {
                position: relative;
                display: block;
                margin: .5em;
                padding: 10px 20px;
                text-decoration: none;
                text-align: center;
                // background: #2196f3;
                border: 2px solid white;
                border-radius: 25px;
                color: #fff;
                text-transform: uppercase;
                overflow: hidden;
                transition: 0.5s;
                z-index: 1;
            }
        
            ul:hover li a {
                opacity: 0;
            }
        
            ul li a:hover {
                transform: scale(1.4);
                z-index: 1000;
                background: #ffffff;
                border: 2px solid rgba(0, 0, 0, 1);
                color: black;
                opacity: 1;
            }
        
            ul li a:before {
                content: '';
                position: absolute;
                top: 0;
                left: -100px;
                width: 80px;
                height: 100px;
                background: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.6), transparent);
                transform: skewx(35deg);
                transition: 0s;
            }
        
            ul li a:hover:before {
                left: calc(100% + 100px);
                transition: 0.5s;
                transition-delay: 0.2s;
            }
        
        }


    }
}

img{
    width: 5vw;
}

.main_body{
    // border: 1px solid white;
    margin: 1em;
    height: 50vh;
    .section_1{
        position: absolute;
        .middle {
            // border: 1px solid white;
            // top: 90%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-left: 2em;
            margin-top: 13em;

            
            // top: 50%;
            // right: 30px;
            transform: translateY(-50%);
            width: 80vw;
            text-align: center;
        }
        
        .btn {
            display: inline-block;
            width: 90px;
            height: 90px;
            border: .5px solid white;
            background: transparent;
            margin: 10px;
            border-radius: 30%;
            box-shadow: 0 5px 15px -5px #00000070;
            color: #ffffff;
            overflow: hidden;
            position: relative;
        }
        
        .btn i {
            opacity: 0.5;
            line-height: 90px;
            font-size: 26px;
            transition: 0.2s linear;
        }
        
        .btn:hover i {
            transform: scale(1.7);
            color: #f50e0e;
            opacity: 1;
        }
        
        #fb:hover i {
            color: rgb(66, 103, 178);
        }
        
        #whats:hover i {
            color: rgb(48, 214, 103);
        }
        
        #insta:hover i {
            color: #231F20;
        }
        
        #twi:hover i {
            color: rgb(29, 161, 242);
        }
        
        #gm:hover i {
            color: rgb(218, 59, 59);
        }
        
        #git:hover i {
            color: black;
        }
        #stack:hover i {
            color: black;
        }
        
        .btn::before {
            content: '';
            position: absolute;
            width: 120%;
            height: 120%;
            background: #ffffff;
            transform: rotate(45deg);
            left: -110%;
            top: 90%;
        }
        
        .btn:hover::before {
            animation: aaa 0.7s 1;
            top: -10%;
            left: -10%;
        }
        
        @keyframes aaa {
            0% {
                left: -110%;
                top: 90%;
            }
            50% {
                left: 10%;
                top: -30%;
            }
            100% {
                top: -10%;
                left: -10%;
            }
        }
    }
}

.footer{
    // border: 2px solid white;
    margin-top: 9em;
    .contact_me{
        margin: 1em;

        .details{
            margin-top: .5em;
            margin-bottom: 1em;
            .con{
                border: 1px solid white;
                border-radius: 30px;
                width: max-content;
                margin-top: -1.4em;
                margin-left: 3.5em;
                padding: 0 .5em;

                &:hover{
                    background-color: white;
                    color: black;
                    border: 1px solid black;
                }
            }
        }

        

        .email-div,.phone-div{
            margin-top: .5em;

            display: flex;
            justify-content: space-between;

            .num{
                margin-right: 6.2em;
            }
        }
    }
    .copyright{
        border: 1px solid white;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        margin: 1em;
        padding: .3em;
        font-size: 13px;
    }
}