@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    color: white;
    // border: 2px solid white;
}

body {
    width: 100vw;
    // height: 100vh;
    background-image: url(./images/footer_lodyas.png);
    background-size: contain;
    // overflow: hidden;
}

.navbar_container{
    // border: 2px solid white;
    .ham{
        // border: 2px solid white;
        width: max-content;
        height: min-content;
        margin: 1em;
        img{
            width: 6vw;
        }
    }

    .nav_menu{
        display: none;
    }
}

img{
    width: 5vw;
}

.main_body{
    // border: 2px solid white;
    margin-top: .5em;
    .section_1{
        // border: 2px solid white;
        // margin: 1em;

        .pic{
            // margin: .5em;
            display: flex;
            justify-content: center;
            // border: 2px solid white;
            img{
                // border: 2px solid blue;
                // margin: .2em;
                // margin-top: .5em;
                width: 80vw;
                // margin-left: 3.2em;
                border-radius: 20%;
            }
        }
        .details{
            // border: 2px solid white;
            .name{
                // border: 2px solid white;
                // display: flex;
                // justify-content: center;
                width: max-content;
                margin-left: 6.6em;
            }

            .quote{
                // border: 2px solid white;
                // width: max-content;
                margin-top: .5em;
                margin: 1em;
                letter-spacing: .5px;
                line-height: 35px;
            }

            .discription{
                // border: 2px solid white;
                // margin-top: 1.5em;
                margin: 1.2em;
                margin-top: 2em;
                font-size: .9em;
            }
        }
        .scroll{
            display: flex;
            justify-content: center;
        }
        .mouse_scroll{
            width: 1.5em;
            height: 2.5em;
            border: 2px solid white;
            border-radius: 30px;
            position: relative;
            // margin-left: 10em;
            margin-top: 1em;

            &::before{
                content: '';
                // margin-top: 2em;
                width: .4em;
                height: .4em;
                border-radius: 50%;
                background: white;
                position: absolute;
                left: 50%;
                // top: 10%;
                transform: translateX(-50%);
                animation: scroll 2.5s infinite;
            }
        }

        @keyframes scroll {
            0% {
                bottom: 80%;
                opacity: 1;
            }

            100% {
                bottom: 20%;
                opacity: 0;
            }
        }

        
    }

    .section_3{
        // border: 1px solid white;
        // margin: 1em;
        .project_container{
            border: 1px solid white;
            margin: 1em;
            .projects{
                border: 1px solid white;
            }
        }
    }
}