@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    color: white;
    // border: 2px solid white;
}

body {
    width: 99%;
    background-image: url(./images/footer_lodyas.png);
    background-size: contain;
}

.navbar_container{
    // border: 2px solid white;
    .ham{
        // border: 2px solid white;
        width: max-content;
        height: min-content;
        margin: 1em;
        img{
            width: 8vw;
        }
    }

    .nav_menu{
        display: none;
    }
}

.main_body{
    // border: 2px solid white;
    // margin-top: .5em;
    .section_1{
        // border: 2px solid white;
        margin: 1em;

        .pic{
            margin: .5em;
            // border: 2px solid white;
            img{
                
                // margin: .2em;
                margin-top: .5em;
                width: 80vw;
                margin-left: .5em;
                border-radius: 20%;
            }
        }
        .details{
            // border: 2px solid white;
            .name{
                // border: 2px solid white;
                width: max-content;
                margin-left: 5em;
            }

            .quote{
                // border: 2px solid white;
                // width: max-content;
                margin-top: .5em;
                letter-spacing: .5px;
                line-height: 30px;
            }

            .discription{
                // border: 2px solid white;
                margin-top: .8em;
            }
        }
        .mouse_scroll{
            width: 1.5em;
            height: 2.5em;
            border: 2px solid white;
            border-radius: 30px;
            position: relative;
            margin-left: 8.5em;
            margin-top: .7em;

            &::before{
                content: '';
                // margin-top: 2em;
                width: .4em;
                height: .4em;
                border-radius: 50%;
                background: white;
                position: absolute;
                left: 50%;
                // top: 10%;
                transform: translateX(-50%);
                animation: scroll 2.5s infinite;
            }
        }

        @keyframes scroll {
            0% {
                bottom: 80%;
                opacity: 1;
            }

            100% {
                bottom: 20%;
                opacity: 0;
            }
        }

        
    }
}