@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
  color: white;
}

* a {
  text-decoration: none;
}

body {
  width: 100vw;
  background-image: url(./images/footer_lodyas.png);
  background-size: contain;
}

.navbar_container .ham {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 1em;
}

.navbar_container .ham img {
  width: 6vw;
}

.navbar_container .nav_menu {
  display: none;
}

.navbar_container nav.menu-btn {
  display: block;
}

.navbar_container .nav_menu {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-image: url(./images/footer_lodyas.png);
  background-size: contain;
  border-radius: 0 10px;
}

.navbar_container .nav_menu .nav_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar_container .nav_menu .nav_head .logo {
  margin: .7em;
  font-size: 1.2em;
}

.navbar_container .nav_menu .nav_head span {
  vertical-align: 25px;
  font-size: 11.5px;
}

.navbar_container .nav_menu .nav_head .menu_exit {
  margin: 1em;
}

.navbar_container .nav_menu .nav_head .menu_exit img {
  width: 8vw;
}

.navbar_container .nav_menu .nav_con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar_container .nav_menu .nav_con ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar_container .nav_menu .nav_con ul li {
  list-style: none;
}

.navbar_container .nav_menu .nav_con ul li:before {
  content: attr(data-text);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  font-size: 6em;
  font-weight: none;
  opacity: 0;
  letter-spacing: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  white-space: nowrap;
}

.navbar_container .nav_menu .nav_con ul li:hover:before {
  opacity: 0.2;
  letter-spacing: 0px;
}

.navbar_container .nav_menu .nav_con ul li a {
  position: relative;
  display: block;
  margin: .5em;
  padding: 10px 20px;
  text-decoration: none;
  text-align: center;
  border: 2px solid white;
  border-radius: 25px;
  color: #fff;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 1;
}

.navbar_container .nav_menu .nav_con ul:hover li a {
  opacity: 0;
}

.navbar_container .nav_menu .nav_con ul li a:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  z-index: 1000;
  background: #ffffff;
  border: 2px solid black;
  color: black;
  opacity: 1;
}

.navbar_container .nav_menu .nav_con ul li a:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100px;
  width: 80px;
  height: 100px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(rgba(0, 0, 0, 0.6)), to(transparent));
  background: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.6), transparent);
  -webkit-transform: skewx(35deg);
          transform: skewx(35deg);
  -webkit-transition: 0s;
  transition: 0s;
}

.navbar_container .nav_menu .nav_con ul li a:hover:before {
  left: calc(100% + 100px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

img {
  width: 5vw;
}

.main_body {
  margin-top: .5em;
}

.main_body .section_1 .pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main_body .section_1 .pic img {
  width: 80vw;
  border-radius: 20%;
}

.main_body .section_1 .details .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main_body .section_1 .details .quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em;
  letter-spacing: .5px;
  line-height: 35px;
}

.main_body .section_1 .details .discription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em;
}

.main_body .section_1 .scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main_body .section_1 .mouse_scroll {
  width: 1.5em;
  height: 2.5em;
  border: 2px solid white;
  border-radius: 30px;
  position: relative;
  margin-bottom: 1em;
}

.main_body .section_1 .mouse_scroll::before {
  content: '';
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: white;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: scroll 2.5s infinite;
          animation: scroll 2.5s infinite;
}

@-webkit-keyframes scroll {
  10% {
    bottom: 55%;
    opacity: 1;
  }
  100% {
    bottom: 0%;
    opacity: 0;
  }
}

@keyframes scroll {
  10% {
    bottom: 55%;
    opacity: 1;
  }
  100% {
    bottom: 0%;
    opacity: 0;
  }
}

.main_body .section_3 {
  margin-top: 1em;
}

.main_body .section_3 .project_container .projects {
  margin: 1em;
}

.main_body .section_3 .project_container .projects a {
  text-decoration: none;
}

.main_body .section_3 .project_container .project_img_container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main_body .section_3 .project_container .project_img_container .kp, .main_body .section_3 .project_container .project_img_container .pks, .main_body .section_3 .project_container .project_img_container .dummy {
  margin-top: .5em;
  border: 1px solid white;
  border-radius: 30px;
}

.main_body .section_3 .project_container .project_img_container .kp a img, .main_body .section_3 .project_container .project_img_container .pks a img, .main_body .section_3 .project_container .project_img_container .dummy a img {
  width: 70vw;
  border-radius: 30px;
}

.main_body .section_3 .project_container .project_img_container .kp .pro, .main_body .section_3 .project_container .project_img_container .pks .pro, .main_body .section_3 .project_container .project_img_container .dummy .pro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main_body .section_3 .project_container .details {
  margin: 1em;
}

.main_body .section_2 {
  border: 1px solid white;
  margin-top: 1em;
  display: none;
}

.main_body .section_2 .language {
  border: 1px solid white;
  margin: 1em;
}

.main_body .section_2 .lang_container {
  border: 1px solid white;
  margin: 1em;
}

.main_body .section_2 .lang_container .img_container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.main_body .section_2 .lang_container .img_container img {
  margin: .5em;
  width: 25vw;
  border: 2px solid blue;
}

.footer {
  margin-top: .5em;
}

.footer .contact_me {
  margin: 1em;
}

.footer .contact_me .details {
  margin-top: .5em;
}

.footer .contact_me .email-div, .footer .contact_me .phone-div {
  margin-top: .5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .contact_me .email-div .num, .footer .contact_me .phone-div .num {
  margin-right: 6.2em;
}

.footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 13px;
}
/*# sourceMappingURL=main.css.map */